{% extends 'base.html.twig' %}

{% block title %}Nos Commandes{% endblock %}

{% block body %}
{% if not app.user %} 
       
    <a href="{{ path('security_login') }}"><button class="btn btn-success">Connexion</button></a>
        
{% else %}

    <div class="container centHeight">
    <div class="row centHeight justify-content-center align-items-center">
        <div class="col-12">
<h1 id="table">Liste de toutes nos commandes:</h1>
    <table class="table table-striped" >
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom</th>
      <th scope="col">Mail</th>
      <th scope="col">Tél</th>
      <th scope="col">Adresse</th>
      <th scope="col">Titulaire de la CB</th>
      <th scope="col">Fin de validité</th>
      <th scope="col">Crypto</th>
      <th scope="col">Id Article</th>
      <th scope="col">Title Article </th>
      <th scope="col">Qty</th>
      <th scope="col">Prix</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
  {% for commande in commandes %}
    <tr>  
      <th scope="row" class="text-danger">{{ commande.id }}</th>
      <td>{{ commande.nom }}</td>
      <td>{{ commande.mail }}</td>
      <td>{{ commande.tel }}</td>
      <td>{{ commande.adress }}</td>
      <td>{{ commande.titulaire }}</td>
      <td>{{ commande.fdv }}</td>
      <td>{{ commande.crypto }}</td>
      <td>{{ commande.ida }}</td>
      <td>{{ commande.titlea }}</td>
      <td>{{ commande.qtya }}</td>
      <td>{{ commande.price }}€</td>
      <td>{{ commande.date }}</td>
      <td><a href="{{path('deleteC', {'id' : commande.id})}}"><button class="btn btn-danger">Delete</button></a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
        </div>
    </div>
</div>

{% endif %}   
{% endblock %}