{% extends 'base.html.twig' %}

{% block title %}Add Article{% endblock %}

{% block body %}
{% if not app.user %} 
       
    <a href="{{ path('security_login') }}"><button class="btn btn-success">Connexion</button></a>
        
{% else %}
<div class="container centHeight">
    <div class="row centHeight justify-content-center align-items-center">
        <div class="col-12">
<h1 id="table">Liste de tout nos articles:</h1>
    <table class="table table-striped" >
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Titre</th>
      <th scope="col">Prix</th>
    </tr>
  </thead>
  <tbody>
  {% for article in articles %}
    <tr>  
      <th scope="row">{{ article.id }}</th>
      <td>{{ article.title }}</td>
      <td>{{ article.price }} €</td>
      <td><a href="{{path('edite', {'id' : article.id})}}"><button class="btn btn-warning">Editer</button></a></td>
      <td><a href="{{path('delete', {'id' : article.id})}}"><button class="btn btn-danger">Delete</button></a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}